### Import pandas and whatever other libraries you need

In [40]:
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt

Here's another example of reading data in _locally_.

In [41]:
df = pd.read_csv('../data/warn.csv')

In [42]:
#You can take a look at the first or last five rows by using the the `head` and `tail` functions.

In [43]:
df.head()

,notice_date,event_number,reason,company,address,county,phone,business_type,affected,total_employees,layoff_date,dislocation,union,classification
0,5/7/2020,2019-0252,Possible Plant Layoff,Fairway Group Holdings Corp.,"Harlem 2328 12th Avenue New York, NY 10027",New York County,(646) 616-8090,Grocery Store,165,2456,Due,Economic,"UFCW, Local 1500; UFCW, Local 1262; UFCW, Loca...",Possible Plant Layoff
1,4/29/2020,2019-0232,Plant Layoff,ViacomCBS Inc. (and its subsidiaries),"51 West 52nd Street New York, NY 10019",New York County,(310) 752-8005,Viacom operates as an entertainment media comp...,450,0,This,Economic,The employees are not represented by a union.,Plant Layoff
2,5/8/2020,2019-1639,Temporary Plant Closing,Sankara NY LLC dba Castle Hotel and Spa,"400 Benedict Avenue Tarrytwon, NY 10591",Westchester County,(914) 646-3945,Hotel & Spa,84,84,3/17/2020,Unforeseeable business circumstances prompted ...,The employees are not represented by a union.,Temporary Plant Closing
3,5/7/2020,2019-1638,Plant Layoff,"Kickstarter, PBC","58 Kent Street Brooklyn, NY 11222",New York County,Not Provided,Operates as an internet website that provides ...,25,0,5/15/2020,Unforeseeable business circumstances prompted ...,Office & Professional Employees International ...,Plant Layoff
4,5/8/2020,2019-1637,Temporary Plant Closing,The University Club of New York,"One West 54th Street New York, NY 10019",NewYork County,(212) 572-3470,Fitness & Recreation Sports Center,243,243,4/12/2020,Unforeseeable business circumstances prompted ...,"Hotel, Restaurant and Club Employees and Barte...",Temporary Plant Closing

In [44]:
df = df.fillna(0)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   notice_date      1259 non-null   object
 1   event_number     1259 non-null   object
 2   reason           1259 non-null   object
 3   company          1259 non-null   object
 4   address          1259 non-null   object
 5   county           1259 non-null   object
 6   phone            1259 non-null   object
 7   business_type    1259 non-null   object
 8   affected         1259 non-null   object
 9   total_employees  1259 non-null   int64
 10  layoff_date      1259 non-null   object
 11  dislocation      1259 non-null   object
 12  union            1259 non-null   object
 13  classification   1259 non-null   object
dtypes: int64(1), object(13)
memory usage: 137.8+ KB

In [122]:
df.tail()

,notice_date,event_number,reason,company,address,county,phone,business_type,affected,total_employees,layoff_date,dislocation,union,classification
1254,1/8/2020,2019-0210,Plant Closing,"Connected Ventures, LLC (CH Media)","330 W. 34th Street, 5th Floor New York, NY 10001",New York County,(212) 314-7366,Operates online content and retail properties,39,39,Employment,Economic,The employees are not represented by a union,Plant Closing
1255,1/6/2020,2019-0207,Plant Closing,Macy's Broadway Mall Store (Macy's Retail Hold...,"100 Broadway Mall Hicksville, NY 11801",Nassau County,(646) 429-7462,Retail Store,155,155,Macy's,Economic,The employees are not represented by a union,Plant Closing
1256,12/27/2019,2019-0206,Temporary Plant Closing,Wesley Gardens Nursing Home,"3 Upton Park Rochester, NY 14607",Monroe County,(585) 241-2105,Nursing Home,132,132,Beginning,Due to a water line break,1199 SEIU,Temporary Plant Closing
1257,12/30/2019,2019-0205,Plant Closing,"127 W. 43rd St. Chophouse, Inc. (Heartland Bre...","127 West 43rd Street New York, NY 10018",New York County,(917) 999-6532,Restaurant,106,106,The,Economic,The employees are not represented by a union,Plant Closing
1258,12/30/2019,2019-0201,Plant Closing,"New York Express and Logistics, LLC","292 Wolf Road Latham, NY 12110",Albany County,(617) 968-5311,Transportation,48,48,3/31/2020,Contract between New York Express and Logistic...,The employees are not represented by a union,Plant Closing

You can also take a look at the type of the columns by using [`info`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html).

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1258 entries, 0 to 1258
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   notice_date      1258 non-null   object
 1   event_number     1258 non-null   object
 2   reason           1258 non-null   object
 3   company          1258 non-null   object
 4   address          1258 non-null   object
 5   county           1258 non-null   object
 6   phone            1258 non-null   object
 7   business_type    1258 non-null   object
 8   affected         1258 non-null   int64
 9   total_employees  1258 non-null   int64
 10  layoff_date      1258 non-null   object
 11  dislocation      1258 non-null   object
 12  union            1258 non-null   object
 13  classification   1258 non-null   object
dtypes: int64(2), object(12)
memory usage: 147.4+ KB

Note that the other way you can create a DataFrame is using a list of lists—not just a list of objects. Here's an example.

In [124]:
test = pd.DataFrame([[None, 2, np.nan, 0],
       [3, 4, np.nan, 1],
       [np.nan, np.nan, np.nan, 5],
       [np.nan, 3, np.nan, 4]],
      columns=['A', 'B', 'C', 'D'])
test

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5
3  NaN  3.0 NaN  4

This is effectively the same thing using a list of objects, like how we scraped our data.

In [125]:
test = pd.DataFrame([{'A': None, 'B': 2, 'C': np.nan, 'D' :0},
       {'A': 3, 'B': 4, 'C': np.nan, 'D':1},
       {'A': np.nan, 'B': np.nan, 'C': np.nan, 'D': 5},
       {'A': np.nan, 'B': 3, 'C': np.nan, 'D': 4}])
test

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5
3  NaN  3.0 NaN  4

Say we wanted to convert columns to integers when reading in our csv. We could do this with the `dtype` parameter.

However, this won't work if we have null values or if some value cannot be converted to an integer. If that's the case, we need to use `fillna` and `to_numeric` or `astype(int)`.

In [126]:
# df = pd.read_csv('../data/warn_na.csv', dtype={'affected': int, 'total_employees': int})
df_na = pd.read_csv('../data/warn_na.csv')

In [127]:
df_na.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1213 entries, 0 to 1212
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   notice_date      1213 non-null   object
 1   event_number     1213 non-null   object
 2   reason           1213 non-null   object
 3   company          1213 non-null   object
 4   address          1212 non-null   object
 5   county           1213 non-null   object
 6   phone            1213 non-null   object
 7   business_type    1213 non-null   object
 8   affected         1135 non-null   float64
 9   total_employees  480 non-null    float64
 10  layoff_date      1210 non-null   object
 11  dislocation      1213 non-null   object
 12  union            1213 non-null   object
 13  classification   1213 non-null   object
dtypes: float64(2), object(12)
memory usage: 132.8+ KB

In [128]:
df = df.fillna(0)

In [129]:
df = df[df.affected != 'To']

/Users/laila/.local/share/virtualenvs/ny-warn-scraper-uY3x77aR/lib/python3.7/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [130]:
df['affected'] = df['affected'].astype(int)
df['total_employees'] = df['total_employees'].astype(int)

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1258 entries, 0 to 1258
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   notice_date      1258 non-null   object
 1   event_number     1258 non-null   object
 2   reason           1258 non-null   object
 3   company          1258 non-null   object
 4   address          1258 non-null   object
 5   county           1258 non-null   object
 6   phone            1258 non-null   object
 7   business_type    1258 non-null   object
 8   affected         1258 non-null   int64
 9   total_employees  1258 non-null   int64
 10  layoff_date      1258 non-null   object
 11  dislocation      1258 non-null   object
 12  union            1258 non-null   object
 13  classification   1258 non-null   object
dtypes: int64(2), object(12)
memory usage: 147.4+ KB

In [132]:
df['affected'] = pd.to_numeric(df['affected'])

In [133]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1258 entries, 0 to 1258
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   notice_date      1258 non-null   object
 1   event_number     1258 non-null   object
 2   reason           1258 non-null   object
 3   company          1258 non-null   object
 4   address          1258 non-null   object
 5   county           1258 non-null   object
 6   phone            1258 non-null   object
 7   business_type    1258 non-null   object
 8   affected         1258 non-null   int64
 9   total_employees  1258 non-null   int64
 10  layoff_date      1258 non-null   object
 11  dislocation      1258 non-null   object
 12  union            1258 non-null   object
 13  classification   1258 non-null   object
dtypes: int64(2), object(12)
memory usage: 147.4+ KB

In [134]:
df.head()

,notice_date,event_number,reason,company,address,county,phone,business_type,affected,total_employees,layoff_date,dislocation,union,classification
0,5/7/2020,2019-0252,Plant Layoff,Fairway Group Holdings Corp.,"Harlem 2328 12th Avenue New York, NY 10027",New York County,(646) 616-8090,Grocery Store,165,2456,Due,Economic,"UFCW, Local 1500; UFCW, Local 1262; UFCW, Loca...",Possible Plant Layoff
1,4/29/2020,2019-0232,Plant Layoff,ViacomCBS Inc. (and its subsidiaries),"51 West 52nd Street New York, NY 10019",New York County,(310) 752-8005,Viacom operates as an entertainment media comp...,450,0,This,Economic,The employees are not represented by a union,Plant Layoff
2,5/8/2020,2019-1639,Temporary Plant Closing,Sankara NY LLC dba Castle Hotel and Spa,"400 Benedict Avenue Tarrytwon, NY 10591",Westchester County,(914) 646-3945,Hotel,84,84,3/17/2020,COVID-19,The employees are not represented by a union,Temporary Plant Closing
3,5/7/2020,2019-1638,Plant Layoff,"Kickstarter, PBC","58 Kent Street Brooklyn, NY 11222",New York County,Not Provided,Operates as an internet website that provides ...,25,0,5/15/2020,COVID-19,Office & Professional Employees International ...,Plant Layoff
4,5/8/2020,2019-1637,Temporary Plant Closing,The University Club of New York,"One West 54th Street New York, NY 10019",NewYork County,(212) 572-3470,Fitness & Recreation Sports Center,243,243,4/12/2020,COVID-19,"Hotel, Restaurant and Club Employees and Barte...",Temporary Plant Closing

What types of reasons are there?

In [135]:
df['reason'].unique()

array(['Plant Layoff', 'Temporary Plant Closing',
       'Temporary Plant Layoff', 'Plant Closing', 'Plang Closing',
       'Temporary Plant Closing and Plant Closing',
       'Temporary & Permanent Layoff',
       'Temporary Plant Layoff and Plant Closing',
       'Temporary Reduction in Work Hours',
       'Possible Plant Layoff/Closing', 'Plant Sale',
       'Contract Dissolution', 'Plant Relocation',
       'Temporary Plant Layoff/Closing', 'Plant Demolition',
       'Temporary Partial Plant Closing',
       'Temporary Plant Closing/Layoff'], dtype=object)

What is the frequency of each reason? `value_counts` counts the number of times a specific value appears in a column

In [136]:
df['reason'].value_counts()

Temporary Plant Layoff                       608
Temporary Plant Closing                      476
Plant Closing                                 85
Plant Layoff                                  76
Temporary Plant Layoff/Closing                 1
Plant Sale                                     1
Plang Closing                                  1
Temporary Partial Plant Closing                1
Temporary Reduction in Work Hours              1
Temporary Plant Layoff and Plant Closing       1
Temporary Plant Closing and Plant Closing      1
Possible Plant Layoff/Closing                  1
Temporary Plant Closing/Layoff                 1
Temporary & Permanent Layoff                   1
Plant Relocation                               1
Plant Demolition                               1
Contract Dissolution                           1
Name: reason, dtype: int64

Looks like we have some typos. We can try to reconcile some of the values by replacing text.

In [137]:
df.loc[df['reason'].isin(['Temporary PlantClosing', 
                          'TemporaryPlant Closing', 
                          'Temporary Plant \nClosing',
                          'Temporary Plant  Closing',
                          'Temporary Palnt Closing',
                          'Temporary Closing',
                          'Temporary  Plant Closing', 
                          'Temporary Unit Closing',
                          'Plant Temporary Closing',
                          'Temporary Plant Closing and Plant Closing'
                          'Temporary Partial Plant Closing',
                          'Partial Temporary Closing',
                          'Tempoarary Plant Closing']), 'reason'] = 'Temporary Plant Closing' 
df.loc[df['reason'].isin(['Temporary Plant  Layoff', 
                          'Temporary PLant Layoff', 
                          'Temporary  Plant Layoff',
                          'Temporary Plant Layoff/Plant Layoff',
                          'Temporary Plant Layoff (Furlough)',
                          'Temporary Plant \nLayoff',
                          'Temporary Layoff'
                          ]), 'reason'] = 'Temporary Plant Layoff'
df.loc[df['reason'].isin(['Plant Unit Closing']), 'reason'] = 'Plant Closing'
df.loc[df['reason'].isin(['Plant Layoff (Conditional)',
                          'Possible Plant Layoff']), 'reason'] = 'Plant Layoff'

In [138]:
reasons = df['reason'].value_counts().reset_index().rename(columns = {'index': 'reason', 'reason': 'count'})
reasons

                                       reason  count
0                      Temporary Plant Layoff    608
1                     Temporary Plant Closing    476
2                               Plant Closing     85
3                                Plant Layoff     76
4              Temporary Plant Layoff/Closing      1
5                                  Plant Sale      1
6                               Plang Closing      1
7             Temporary Partial Plant Closing      1
8           Temporary Reduction in Work Hours      1
9    Temporary Plant Layoff and Plant Closing      1
10  Temporary Plant Closing and Plant Closing      1
11              Possible Plant Layoff/Closing      1
12             Temporary Plant Closing/Layoff      1
13               Temporary & Permanent Layoff      1
14                           Plant Relocation      1
15                           Plant Demolition      1
16                       Contract Dissolution      1

In [139]:
reasons.to_csv('../output/reasons.csv', index=False)

In [140]:
df[df['reason'] == 'Plant Closing']

,notice_date,event_number,reason,company,address,county,phone,business_type,affected,total_employees,layoff_date,dislocation,union,classification
19,5/7/2020,2019-1631,Plant Closing,"Uber Technologies, Inc. (JUMP venture aka Soci...","JUMP 55 Prospect Street Brooklyn, NY 11201",New York County,(650) 248-5966,On-demand electric bikes & scooters,37,37,6/8/2020,COVID-19,The employees are not represented by a union,Plant Closing
23,3/27/2020,2019-0387,Plant Closing,"Hakkasan Holdings, LLC, d/b/a Hakkasan Group","311 W 43rd Street New York, NY 10036",New Yok County,(702) 212-8804 Ext,Restaurant,95,95,3/13/2020,COVID-19,The employees are not represented by a union,Plant Closing
24,5/6/2020,2019-0294,Plant Closing,"Rochester Drug Co-Operative, Inc.","50 Jet View Drive Rochester, NY 14624",Monroe County,(800) 333-0538 Ext,Drug distribution company,98,98,Separations,Economic,The employees are not represented by a union,Plant Closing
39,4/30/2020,2019-0377,Plant Closing,"Altman Lighting, Inc.","57 Alexander Street Yonkers, NY 10701",Westchester County,(303) 558-4300 Ext,"Theatrical, architectural, film and video ligh...",46,46,45,Relocation to Colorado,The employees are not represented by a union,Plant Closing
41,5/5/2020,2019-1607,Plant Closing,RR Donnelley (TuckerPrinters facility),"270 Middle Rd. Henrietta, NY 14467",Monroe County,(716) 564-6469,Commercial Printing,33,33,5/5/2020,COVID-19,The employees are not represented by a union,Plant Closing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1253,1/7/2020,2019-0209,Plant Closing,Branson Ultrasonics Corp.,"475 Quaker Meeting House Road Honeoye Falls, N...",Monroe County,(203) 796-0331,Welding and Soldering Equipment Manufacturing,47,47,Separations,Economic,The employees are not represented by a union,Plant Closing
1254,1/8/2020,2019-0210,Plant Closing,"Connected Ventures, LLC (CH Media)","330 W. 34th Street, 5th Floor New York, NY 10001",New York County,(212) 314-7366,Operates online content and retail properties,39,39,Employment,Economic,The employees are not represented by a union,Plant Closing
1255,1/6/2020,2019-0207,Plant Closing,Macy's Broadway Mall Store (Macy's Retail Hold...,"100 Broadway Mall Hicksville, NY 11801",Nassau County,(646) 429-7462,Retail Store,155,155,Macy's,Economic,The employees are not represented by a union,Plant Closing
1257,12/30/2019,2019-0205,Plant Closing,"127 W. 43rd St. Chophouse, Inc. (Heartland Bre...","127 West 43rd Street New York, NY 10018",New York County,(917) 999-6532,Restaurant,106,106,The,Economic,The employees are not represented by a union,Plant Closing
1258,12/30/2019,2019-0201,Plant Closing,"New York Express and Logistics, LLC","292 Wolf Road Latham, NY 12110",Albany County,(617) 968-5311,Transportation,48,48,3/31/2020,Contract between New York Express and Logistic...,The employees are not represented by a union,Plant Closing

What types of businesses have been most impacted?

In [141]:
df['business_type'].unique()

array(['Grocery Store',
       'Viacom operates as an entertainment media company that offers television programs and motion pictures.',
       'Hotel',
       'Operates as an internet website that provides tools to raise funds for various community projects through crowd funding resources.',
       'Fitness & Recreation Sports Center', 'Ophthalmologist',
       'Ophthalmologist/Optician', 'Food service distribution', 'Retail',
       'Restaurant', 'Commercial Real Estate Services',
       'American online travel company', 'Health Plans',
       'Leading voice on youth development, health, and well-being.',
       'Transportation', 'Investment advisors',
       'On-demand electric bikes & scooters', 'Casino',
       'Online marketplace for arranging or offering lodging, primarily homestays, or tourism experiences.',
       'Drug distribution company', 'Home Furnishing', 'Home Furnishings',
       'Payroll & HR Services', 'Employment Agency',
       'Provide complete source for lab systems and sustainable, adaptable casework of painted steel, wood or stainless steel complete with specified fixtures, fume hoods and work surfaces.',
       'Theatrical, architectural, film and video lighting',
       'Commercial Printing',
       'Building maintenance and cleaning services', 'Event Company',
       'Car cleaning services', 'Realty Management',
       'All Luxury SUV, Cars, Vans Rentals', 'Car rentals',
       'Dental equipment distribution and manufacturing',
       'On-demand car service', 'Renewable Energy Provider',
       'Event Planners/Caterers', 'Transporation Services',
       'Quality cleaning and maintenance services', 'Car Rentals',
       'Producer of LED safety lighting', 'Car Rental', 'Travel Agency',
       'Family planning services', 'Janitorial Services',
       'Gem Research, Education, and Laboratory', 'Labor Union',
       'Non-profit', 'Medical Billing', 'Event Venue',
       'Convention Center', 'Social Organization', 'Cinemas', 'Catering',
       'Mechanical Contractor', 'Social Club', 'Human Services',
       'Wine Wholesaler', 'General Contractor', 'Production Company',
       'Janitorial Engineering', 'Fitness Club', 'Legal Services',
       'Shoe Store', 'Carpentry Organization',
       'Lumber and Building Material Distribution',
       'Food preparation and delivery services', 'Bakery', 'Eye Care',
       'Plumbing, Heating, PVF, Waterworks, and Fire Protection Supplies',
       'Plumbing, Heating, PVF, Fire Protection, and Waterworks Supplies',
       'Manufacturing', 'Day Camp', 'Airline Services',
       'Healthcare Center', 'Home automation',
       'Miscellaneous Home Furnishings Store', 'Rental Car',
       'Plumbing and Heating',
       'Visual Effects and Post Production Services', 'Medical Facility',
       'Interior Design', 'Retail Store', 'Health Care',
       'Wafer fab, assembly, and test operations', 'School',
       'Air Compressor Manufacturer', 'Diagnostic Imaging Center',
       'Waste Services and Material Recycling', 'Security Services',
       'Airport Services', 'Cosmetic Manufacturing',
       'Cosmetic Manufacturer', 'Environmental Consulting',
       'Medical Laboratory', 'Building Services', 'Electric Company',
       'Provides ground, cargo and passenger services', 'Bank',
       'Movie Theatre', 'PR Consulting',
       'Human services non-profit organization sponsored by the Catholic Charities of the Archdiocese of New York with programs that help a large needy population in the New York metropolitan area.',
       'Theater', 'Wholesale Distribution', 'Travel and Tourism',
       'Clothing Retail', 'Consulting Group', 'Auto Dealership',
       'Communication, Public Relations', 'Solar Energy Equipment',
       'Media Company', 'Sheet Metal Contractor',
       'Executive Events Company', 'Retail clothing store',
       'Same-day grocery delivery and pick-up service', 'Manufacturer',
       'Internet Retail', 'Broth Shop',
       'Designer, Distribution and Licensor of Apparel', 'Museum',
       'Suit Retail', 'Fiberglass Manufacturing', 'Travel Center',
       'Consumer Electronics Company', 'Moulding Wholesaler',
       'Medical Imaging', 'Electrical Contracting', 'Airline',
       'Cleaning Services', 'Realty', 'Home Health Care', 'Auction House',
       'Computer Networking', 'Concrete Supplier', 'Cement Plant',
       'Investment Services', 'Auto Shop', 'Dentist', 'Paper Retailer',
       'Musical Instrument Sales', 'Aviation consultant',
       'Leather Wholesaler', 'Software Company', 'Asphalt Contractor',
       'Community Working Space', 'Adolescent Care', 'Public relations',
       'Theatre Company', 'Movie Theater',
       'Accounting and Financial Services', 'Countertop Sales',
       'Car dealership', 'Custom fabricator of architectural metal',
       'Auto dealership', 'Auto Body Shop',
       'Fire Prevention/Sprinkler Services', 'Auto Sales', 'Hunting Club',
       'Financial Institution', 'Marketing', 'Optical Retailer',
       'Ski Resort', 'Cleaning and Flooring', 'Hydraulic Repair Service',
       'Iron Manufacturer', 'Contracting', 'Courier Service',
       'Façade Manufacturing', 'Duck Farming', 'Online Fitness',
       'Online Recommendations', 'Commercial real estate company',
       'Excavation, Pile Drilling, and Foundations', 'Pool Manufacturer',
       'Country Club', 'Building Materials Supplier',
       'Obstetrics and Gynecology', 'Heating and Cooling',
       'Limousine Service', 'Gym', 'Orthopedics', 'Jewelry Sales',
       'Network Provider', 'Bus Transit', 'Clothing Manufacturer',
       'Excavating Contractor', 'Plastic Manufacturing',
       'Footwear Retailer', 'Bedding, Bath, and window Manufacturing',
       'Supply Chain Management', 'Mechanical Systems Building',
       'Insulation Contractor', 'Furniture', 'Collision Repair',
       'Community Center', 'Stone Quarry', 'Linen and Uniforms',
       'Architectural Metal and Glass Manufacturing',
       'Water Manufacturer', 'Contracting Company', 'Duck Farm',
       'Digital Marketing', 'Musical Instrument Rental', 'Day Spa',
       'Attorney', 'Golf Course', 'Event Planning',
       'Electronic Instrument Manufacturer', 'Animal Feed Store',
       'Neurology Health Care Provider', 'Collection Agency',
       'Youth Club', 'Wholesale Bakery', 'Beauty Salon Equipment',
       'Auto Dealer', 'Law Firm', 'Tree service',
       'Security System Installation', 'Closets and Storage',
       'Watch, Guard, Patrol Agency', 'Optometry Offices',
       'Global tech media company', 'Footwear',
       'Parking Service/Locations', 'Commercial Cleaning',
       'Architecture Firm', 'Art Storage and Services', 'Electricians',
       'Custom auto interior parts for classic car restoration',
       'Go-kart track', 'Industrial Machinery & Equipment',
       "Attorney's Office", 'Promotional Product Supplier',
       'Casino Hotel', 'Waxing Services', 'Electrical Supply Store',
       'Health Care Provider - Mammography', 'Education and Child Care',
       'Refrigeration Wholesaler', 'Sporting Goods',
       'Fire Sprinkler Installation', 'Studio Equipment',
       'Physcial and Occupational Therapy',
       'Physical and Occupational Therapy', 'Undergarments',
       'Machine Shop', 'Linen and Uniform Supply',
       'Retail & Light Manufacturing', 'Social services organization',
       'Clothing Store', 'Cellular Sales', 'Call Center', 'Toy Store',
       'an American clothing brand and retailer', 'Music Venue',
       'Satellite Supplies', 'Linen Supply', 'Emergency Relief',
       'Wellness Center', 'Food Distribution', 'Real Estate',
       'Medical Equipment', 'Portfolio Management', 'Construction',
       'Real Estate Manager and Developer', 'Coffee Shop',
       'Meat Wholesaler', 'Car Dealership', 'Sanitation', 'Consulting',
       'Animal Wellness and Care', 'Data Analytics Service Provider',
       'Carpet Cleaning Service', 'Integrated Media Entertainment',
       'Ticket Sales', 'Software', 'Ambulatory Surgery Center',
       'Catering Staffing', 'Hospitality', 'Audio, Visual and Lighting',
       'Denim Retailer', 'Watch Manufacturing', 'Airport Retail',
       'Party Rental', 'Childhood Center', 'Airline Security',
       'Award Manufacturer', 'Automobile Sales',
       'Logistics and Supply Chain Solutions', 'Mattress Store',
       'Winter Sports Center', 'Motor Vehicle Sales', 'Furniture Store',
       'Physcial Therapist', 'Human Services Agency', 'Telemarketing',
       'Debt Collection', 'Healthcare',
       'Waste disposal and removal services', 'Jewelry Store',
       'Perfume Manufacturing', '-----', 'Advertising', 'Hair Salon',
       'Leading global IT services company', 'Amusement Machine Supplier',
       'Resort', 'Fragrance Manufacturing', 'Airline Sales',
       'Catering/Event Venue', 'Daycare', 'Clothing Manufacturing',
       'Creamery', 'Salon', 'Venue', 'Airport Support', 'Education',
       'Interior designer', 'Performing Arts Theater',
       'Photographic equipment and Supplies', 'Health group practice',
       'Production  Company', 'Catering business',
       'Providing temporary and long-term housing accommodations for relocated individuals and corporate officials',
       'Manages the production and distribution for Gannett’s domestic daily newspapers',
       'Pharmaceuticals (production)', 'Manufacturer of capacitors',
       'A 675-megawatt coal-fired power plant',
       'A global defense technology leader', 'Acute Care Hospital',
       'Produces  and distributes numerous brands of bottled water across North America.',
       'Parking facility servicing the LaGuardia Airport',
       'Programs for persons with development disabilities.',
       'Wholesale grocer',
       'Members-only personal shopping and concierge service',
       'Developing private incubated brands across multiple categories of Health, Beauty, & Wellness, Fashion, and Home furnishing products.',
       'Retail Corporate offices', 'Banking  Services',
       'Wholesale distributor of Janitorial and Industrial Supplies',
       'Providing investment management and research services',
       'Retail  and auto store', 'Retail store', 'Daily newspaper',
       'Leading  healthcare improvement company',
       'New York City-based online monthly subscription service that sends its subscribers a box of four to five selected samples of makeup, or other beauty related products..',
       'Clinical Services', 'General Medical & Surgical Hospital',
       'Health and fitness center',
       'Human services non-profit organization with programs that help a large needy population in the New York metropolitan area.',
       'Manufacturer of air & gas compressors',
       'American premium channel owned by the Home Box Office, Inc.',
       'Non-profit organization', 'Publishing company', 'LawFirm',
       'Hobby, Toy, and Game Stores',
       'Welding and Soldering Equipment Manufacturing',
       'Operates online content and retail properties', 'Nursing Home'],
      dtype=object)

In [142]:
df['business_type'].value_counts().reset_index()

                                                index  business_type
0                                          Restaurant            497
1                                               Hotel            144
2                                              Retail             39
3                                     Auto Dealership             24
4                                            Catering             16
..                                                ...            ...
353                              Portfolio Management              1
354                                Medical Laboratory              1
355                            Cosmetic Manufacturing              1
356  Parking facility servicing the LaGuardia Airport              1
357                                     Travel Center              1

[358 rows x 2 columns]

What were the dislocation reasons?

In [143]:
df['dislocation'].value_counts().reset_index().rename(columns={'index': 'dislocation', 'dislocation': 'count'})

                                          dislocation  count
0                                            COVID-19   1150
1                                            Economic     58
2   Restructuring which will involve the relocatio...      3
3                                    Sale of Business      3
4                                   Budgetary Deficit      2
5                                       Restructuring      1
6               Sale of business to Republic Services      1
7   Sale of heritage Dresser-Rand / SGT Government...      1
8                              Company Reorganization      1
9   Reduction in workload due to a change in busin...      1
10  GNYHA Management Corporation has announced the...      1
11  Landlord's decision to cease operating the par...      1
12  Relocation of Corporate Headquarters to Nashvi...      1
13                                Expiration of lease      1
14           Restructure of the New York Metro market      1
15  The decision was made to integrate conversatio...      1
16  Due to a substantial loss of contract funding ...      1
17                                    Sale of Company      1
18  The production work is moving to another compa...      1
19  Catholic Guardian Services has decided to disc...      1
20  Merger with Troutman Sanders and to become kno...      1
21  Consolidation of revenue cycle functions/closu...      1
22                               Sale of the business      1
23  Due to an operational change to optimize the R...      1
24                                    Loss of funding      1
25  Winding down its in-store operations across Fa...      1
26  Economic and stricter new State air emission r...      1
27  The MTA did not renew contract which expires M...      1
28                      Acquisition by Community Bank      1
29  Newspaper production will be consolidated to t...      1
30                       Expiration of building lease      1
31                                         Relocation      1
32                          Due to a water line break      1
33                             Relocation to Colorado      1
34                  Relocating facility to Minnesota.      1
35                                   Loss of Contract      1
36  They are integrating many of these incubated b...      1
37                                     Reorganization      1
38  Contract between New York Express and Logistic...      1
39   Loss of Contract with New York Transit Authority      1
40                                      Contract Loss      1
41  Contract termination by Metropolitan Transit A...      1
42  The contract between Swissport and the Port Au...      1
43              Maria Russo, Human Resources Director      1
44  Sale of the business to a buyer who is relocat...      1
45                                   Sale of business      1
46                      Discontinuation of operations      1

Same issue. Let's try to fix by replacing all values that contain **COVID-19** with COVID-19.

In [144]:
df.loc[df['dislocation'].str.contains('COVID-19'), 'dislocation'] = 'COVID-19'
dislocation = df['dislocation'].value_counts().reset_index().rename(columns={'index': 'dislocation', 'dislocation': 'count'})

In [145]:
dislocation

                                          dislocation  count
0                                            COVID-19   1150
1                                            Economic     58
2   Restructuring which will involve the relocatio...      3
3                                    Sale of Business      3
4                                   Budgetary Deficit      2
5                                       Restructuring      1
6               Sale of business to Republic Services      1
7   Sale of heritage Dresser-Rand / SGT Government...      1
8                              Company Reorganization      1
9   Reduction in workload due to a change in busin...      1
10  GNYHA Management Corporation has announced the...      1
11  Landlord's decision to cease operating the par...      1
12  Relocation of Corporate Headquarters to Nashvi...      1
13                                Expiration of lease      1
14           Restructure of the New York Metro market      1
15  The decision was made to integrate conversatio...      1
16  Due to a substantial loss of contract funding ...      1
17                                    Sale of Company      1
18  The production work is moving to another compa...      1
19  Catholic Guardian Services has decided to disc...      1
20  Merger with Troutman Sanders and to become kno...      1
21  Consolidation of revenue cycle functions/closu...      1
22                               Sale of the business      1
23  Due to an operational change to optimize the R...      1
24                                    Loss of funding      1
25  Winding down its in-store operations across Fa...      1
26  Economic and stricter new State air emission r...      1
27  The MTA did not renew contract which expires M...      1
28                      Acquisition by Community Bank      1
29  Newspaper production will be consolidated to t...      1
30                       Expiration of building lease      1
31                                         Relocation      1
32                          Due to a water line break      1
33                             Relocation to Colorado      1
34                  Relocating facility to Minnesota.      1
35                                   Loss of Contract      1
36  They are integrating many of these incubated b...      1
37                                     Reorganization      1
38  Contract between New York Express and Logistic...      1
39   Loss of Contract with New York Transit Authority      1
40                                      Contract Loss      1
41  Contract termination by Metropolitan Transit A...      1
42  The contract between Swissport and the Port Au...      1
43              Maria Russo, Human Resources Director      1
44  Sale of the business to a buyer who is relocat...      1
45                                   Sale of business      1
46                      Discontinuation of operations      1

In [146]:
df[df['dislocation'] == 'Loss of Contract with New York Transit Authority']

,notice_date,event_number,reason,company,address,county,phone,business_type,affected,total_employees,layoff_date,dislocation,union,classification
548,4/3/2020,2019-1062,Plant Layoff,"Consolidated Bus Transit (CBT) Para Transit, Inc.","2382 Blackrock Avenue Bronx, NY 10472",Bronx County,(718) 346-9600 Ext,Bus Transit,239,0,Separations,Loss of Contract with New York Transit Authority,Local Union No. 854; Local 553 IBT,Plant Layoff

In [147]:
df['union'].value_counts()

The employees are not represented by a union                    1026
New York Hotel & Motel Trades Council, AFL-CIO                    63
lUE/CWA Local 81408                                               10
-----                                                              8
Local 32BJ, Service Employees International Union                  8
                                                                ...
United Food and Commercial Workers Union, Local 342                1
Teamsters Local 1205, United Service Workers Union Local 355       1
Local 2013, UFCW                                                   1
New York Hotel & Motel Trades Council                              1
Non Union                                                          1
Name: union, Length: 121, dtype: int64

In [148]:
df.loc[df['union'].isin(['The employees are not represented by a union.',
                         'The employees are not represented by a union. Non Union'
                         ]), 'union'] = 'The employees are not represented by a union' 
df['union'].value_counts().reset_index()

                                                 index  union
0         The employees are not represented by a union   1026
1       New York Hotel & Motel Trades Council, AFL-CIO     63
2                                  lUE/CWA Local 81408     10
3                                                -----      8
4    Local 32BJ, Service Employees International Union      8
..                                                 ...    ...
116  United Food and Commercial Workers Union, Loca...      1
117  Teamsters Local 1205, United Service Workers U...      1
118                                   Local 2013, UFCW      1
119              New York Hotel & Motel Trades Council      1
120                                          Non Union      1

[121 rows x 2 columns]

In [149]:
df['affected'].sum()

118945

In [150]:
# Employees affected in union 
df.groupby(by="union")["affected"].sum().sort_values(ascending=False)

union
The employees are not represented by a union                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         89661
New York Hotel & Motel Trades Council, AFL-CIO                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        8300
Local 252, Transport Workers Union                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    1191
RWDSU Local 1102                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       918
International Union of Operating Engineers Local 30; Local 445M/Local 445P Teamsters Local 445 International Brotherhood of Teamsters (Maintenance) & Teamsters Local 445 International Brotherhood of Teamsters (Parking); Empire State Regional Council of Carpenters, United Brotherhood of Carpenters & Joiners of America; District Council No. 9, International Union of Painters C; Plumbers and Steamfitters Local 21; Local 1105, Communications Workers of America, AFL-CIO; Local 60, Laborers’ International Union of North America; Local 1430, I.B.E.W.; Local 235, Laborers International Union of N.A.; and Local 137, International Union of Operating Engineers      890
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     ...
Teamsters Local #445                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     9
New York New Jersey Regional Joint Board Workers United A/W SEIU                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         6
The employee is not represented by a union.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              3
The remote employee is not represented by a union.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       1
United Service Workers                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   0
Name: affected, Length: 121, dtype: int64

How many people were affected by a WARN notice by business type?

In [151]:
df.groupby(['business_type'])['affected'].agg('sum').sort_values(ascending=False).reset_index()

                 business_type  affected
0                   Restaurant     42153
1                        Hotel     16617
2               Transportation      3859
3                     Catering      3217
4        Retail clothing store      2696
..                         ...       ...
353        Closets and Storage         0
354                Advertising         0
355                     Museum         0
356                      Salon         0
357  Obstetrics and Gynecology         0

[358 rows x 2 columns]

In [152]:
df['county'].value_counts()

New York County                                621
Nassau County                                   65
Suffolk County                                  65
Kings County                                    64
Queens County                                   60
                                              ...
Monroe/Ontario County                            1
New York/Richmond/Queens/Kings/Bronx County      1
Cattaraugus/Chautauqua County                    1
Seneca County                                    1
Livingston County                                1
Name: county, Length: 118, dtype: int64

In [153]:
# employees affceted by county 
df.groupby(by="county")["affected"].sum().sort_values(ascending=False)

county
New York County                     55674
Queens County                        7914
Suffolk County                       6092
Nassau County                        5526
Kings County                         5059
                                    ...
Queens/Kings/New York County            0
Cattaraugus/Chautauqua County           0
Rockland/Dutchess County                0
NYC/Richmond/Kings/Queens County        0
NY/Richmond/Queens/Kings County         0
Name: affected, Length: 118, dtype: int64

In [154]:
# business type number of affceted in New York County only 
df[df["county"]=="New York County"].groupby(by="business_type")["affected"].sum().sort_values(ascending=False)

business_type
Restaurant                                                                                                    28102
Hotel                                                                                                         12690
Catering                                                                                                       1351
Retail                                                                                                         1008
Parking Service/Locations                                                                                       883
                                                                                                              ...
American premium channel owned by the Home Box Office, Inc.                                                       2
Airline Services                                                                                                  2
Providing temporary and long-term housing accommodations for relocated individuals and corporate officials        1
Museum                                                                                                            0
Closets and Storage                                                                                               0
Name: affected, Length: 122, dtype: int64

In [155]:
df['company'].value_counts().reset_index()

                                                  index  company
0     Abercrombie & Fitch, abercrombie kids, Hollist...       10
1            A&M Administration LLC dba Charlotte Russe        8
2     OS Restaurant Services, LLC (Bloomin Brands - ...        7
3                                   Enterprise Holdings        7
4                   Mid Rockland Imaging Partners, Inc.        7
...                                                 ...      ...
1150                                       Crown Awards        1
1151                          Elite Services Group, LLC        1
1152        Fisher Brothers Financial & Development Co.        1
1153                             Patriot Electric Corp.        1
1154                     New York Health & Racquet Club        1

[1155 rows x 2 columns]

In [156]:
df.groupby(['company'])['affected'].agg('sum').sort_values(ascending=False).reset_index()

                                                company  affected
0     Abercrombie & Fitch, abercrombie kids, Hollist...      2696
1     OS Restaurant Services, LLC (Bloomin Brands - ...      2478
2     American Sales Management Organization LLC dba...      1321
3                  Suffolk Transportation Service, Inc.      1191
4                                         Regal Cinemas      1004
...                                                 ...       ...
1150                            Lastrada Restaurant LLC         0
1151                 Sobaya Restaurant, Inc. dba Sobaya         0
1152  A&M (2015) LLC dba Mandee (10 Long Island loca...         0
1153                          Olum's of Binghamton Inc.         0
1154                                       Le Bernardin         0

[1155 rows x 2 columns]

In [157]:
pd.set_option('display.max_rows', 84)
date = df['notice_date'].value_counts().reset_index().rename(columns = {'index': 'date', 'notice_date': 'count'})
date = date[~date['date'].str.contains('2019')]
date

         date  count
0   3/25/2020     68
1   3/20/2020     66
2   3/27/2020     64
3   3/23/2020     64
4   3/30/2020     61
..        ...    ...
85  1/12/2020      1
86  3/11/2020      1
87  2/27/2020      1
88   1/8/2020      1
89  2/19/2020      1

[87 rows x 2 columns]

In [158]:
date.to_csv('../output/by_date.csv', index=False)

In [159]:
df.groupby(['notice_date'])['affected'].agg('sum').sort_values(ascending=False).reset_index()

   notice_date  affected
0    3/25/2020      7195
1    3/18/2020      6855
2    3/31/2020      6043
3    3/23/2020      5761
4    3/30/2020      5648
..         ...       ...
85   2/12/2020         7
86   11/4/2019         2
87   1/30/2020         2
88    3/6/2020         2
89   1/17/2020         1

[90 rows x 2 columns]

In [160]:
df.columns

Index(['notice_date', 'event_number', 'reason', 'company', 'address', 'county',
       'phone', 'business_type', 'affected', 'total_employees', 'layoff_date',
       'dislocation', 'union', 'classification'],
      dtype='object')

## My Analysis based on affected by percentage

In [161]:
# check unique business categories 
df['business_type'].unique()

array(['Grocery Store',
       'Viacom operates as an entertainment media company that offers television programs and motion pictures.',
       'Hotel',
       'Operates as an internet website that provides tools to raise funds for various community projects through crowd funding resources.',
       'Fitness & Recreation Sports Center', 'Ophthalmologist',
       'Ophthalmologist/Optician', 'Food service distribution', 'Retail',
       'Restaurant', 'Commercial Real Estate Services',
       'American online travel company', 'Health Plans',
       'Leading voice on youth development, health, and well-being.',
       'Transportation', 'Investment advisors',
       'On-demand electric bikes & scooters', 'Casino',
       'Online marketplace for arranging or offering lodging, primarily homestays, or tourism experiences.',
       'Drug distribution company', 'Home Furnishing', 'Home Furnishings',
       'Payroll & HR Services', 'Employment Agency',
       'Provide complete source for lab systems and sustainable, adaptable casework of painted steel, wood or stainless steel complete with specified fixtures, fume hoods and work surfaces.',
       'Theatrical, architectural, film and video lighting',
       'Commercial Printing',
       'Building maintenance and cleaning services', 'Event Company',
       'Car cleaning services', 'Realty Management',
       'All Luxury SUV, Cars, Vans Rentals', 'Car rentals',
       'Dental equipment distribution and manufacturing',
       'On-demand car service', 'Renewable Energy Provider',
       'Event Planners/Caterers', 'Transporation Services',
       'Quality cleaning and maintenance services', 'Car Rentals',
       'Producer of LED safety lighting', 'Car Rental', 'Travel Agency',
       'Family planning services', 'Janitorial Services',
       'Gem Research, Education, and Laboratory', 'Labor Union',
       'Non-profit', 'Medical Billing', 'Event Venue',
       'Convention Center', 'Social Organization', 'Cinemas', 'Catering',
       'Mechanical Contractor', 'Social Club', 'Human Services',
       'Wine Wholesaler', 'General Contractor', 'Production Company',
       'Janitorial Engineering', 'Fitness Club', 'Legal Services',
       'Shoe Store', 'Carpentry Organization',
       'Lumber and Building Material Distribution',
       'Food preparation and delivery services', 'Bakery', 'Eye Care',
       'Plumbing, Heating, PVF, Waterworks, and Fire Protection Supplies',
       'Plumbing, Heating, PVF, Fire Protection, and Waterworks Supplies',
       'Manufacturing', 'Day Camp', 'Airline Services',
       'Healthcare Center', 'Home automation',
       'Miscellaneous Home Furnishings Store', 'Rental Car',
       'Plumbing and Heating',
       'Visual Effects and Post Production Services', 'Medical Facility',
       'Interior Design', 'Retail Store', 'Health Care',
       'Wafer fab, assembly, and test operations', 'School',
       'Air Compressor Manufacturer', 'Diagnostic Imaging Center',
       'Waste Services and Material Recycling', 'Security Services',
       'Airport Services', 'Cosmetic Manufacturing',
       'Cosmetic Manufacturer', 'Environmental Consulting',
       'Medical Laboratory', 'Building Services', 'Electric Company',
       'Provides ground, cargo and passenger services', 'Bank',
       'Movie Theatre', 'PR Consulting',
       'Human services non-profit organization sponsored by the Catholic Charities of the Archdiocese of New York with programs that help a large needy population in the New York metropolitan area.',
       'Theater', 'Wholesale Distribution', 'Travel and Tourism',
       'Clothing Retail', 'Consulting Group', 'Auto Dealership',
       'Communication, Public Relations', 'Solar Energy Equipment',
       'Media Company', 'Sheet Metal Contractor',
       'Executive Events Company', 'Retail clothing store',
       'Same-day grocery delivery and pick-up service', 'Manufacturer',
       'Internet Retail', 'Broth Shop',
       'Designer, Distribution and Licensor of Apparel', 'Museum',
       'Suit Retail', 'Fiberglass Manufacturing', 'Travel Center',
       'Consumer Electronics Company', 'Moulding Wholesaler',
       'Medical Imaging', 'Electrical Contracting', 'Airline',
       'Cleaning Services', 'Realty', 'Home Health Care', 'Auction House',
       'Computer Networking', 'Concrete Supplier', 'Cement Plant',
       'Investment Services', 'Auto Shop', 'Dentist', 'Paper Retailer',
       'Musical Instrument Sales', 'Aviation consultant',
       'Leather Wholesaler', 'Software Company', 'Asphalt Contractor',
       'Community Working Space', 'Adolescent Care', 'Public relations',
       'Theatre Company', 'Movie Theater',
       'Accounting and Financial Services', 'Countertop Sales',
       'Car dealership', 'Custom fabricator of architectural metal',
       'Auto dealership', 'Auto Body Shop',
       'Fire Prevention/Sprinkler Services', 'Auto Sales', 'Hunting Club',
       'Financial Institution', 'Marketing', 'Optical Retailer',
       'Ski Resort', 'Cleaning and Flooring', 'Hydraulic Repair Service',
       'Iron Manufacturer', 'Contracting', 'Courier Service',
       'Façade Manufacturing', 'Duck Farming', 'Online Fitness',
       'Online Recommendations', 'Commercial real estate company',
       'Excavation, Pile Drilling, and Foundations', 'Pool Manufacturer',
       'Country Club', 'Building Materials Supplier',
       'Obstetrics and Gynecology', 'Heating and Cooling',
       'Limousine Service', 'Gym', 'Orthopedics', 'Jewelry Sales',
       'Network Provider', 'Bus Transit', 'Clothing Manufacturer',
       'Excavating Contractor', 'Plastic Manufacturing',
       'Footwear Retailer', 'Bedding, Bath, and window Manufacturing',
       'Supply Chain Management', 'Mechanical Systems Building',
       'Insulation Contractor', 'Furniture', 'Collision Repair',
       'Community Center', 'Stone Quarry', 'Linen and Uniforms',
       'Architectural Metal and Glass Manufacturing',
       'Water Manufacturer', 'Contracting Company', 'Duck Farm',
       'Digital Marketing', 'Musical Instrument Rental', 'Day Spa',
       'Attorney', 'Golf Course', 'Event Planning',
       'Electronic Instrument Manufacturer', 'Animal Feed Store',
       'Neurology Health Care Provider', 'Collection Agency',
       'Youth Club', 'Wholesale Bakery', 'Beauty Salon Equipment',
       'Auto Dealer', 'Law Firm', 'Tree service',
       'Security System Installation', 'Closets and Storage',
       'Watch, Guard, Patrol Agency', 'Optometry Offices',
       'Global tech media company', 'Footwear',
       'Parking Service/Locations', 'Commercial Cleaning',
       'Architecture Firm', 'Art Storage and Services', 'Electricians',
       'Custom auto interior parts for classic car restoration',
       'Go-kart track', 'Industrial Machinery & Equipment',
       "Attorney's Office", 'Promotional Product Supplier',
       'Casino Hotel', 'Waxing Services', 'Electrical Supply Store',
       'Health Care Provider - Mammography', 'Education and Child Care',
       'Refrigeration Wholesaler', 'Sporting Goods',
       'Fire Sprinkler Installation', 'Studio Equipment',
       'Physcial and Occupational Therapy',
       'Physical and Occupational Therapy', 'Undergarments',
       'Machine Shop', 'Linen and Uniform Supply',
       'Retail & Light Manufacturing', 'Social services organization',
       'Clothing Store', 'Cellular Sales', 'Call Center', 'Toy Store',
       'an American clothing brand and retailer', 'Music Venue',
       'Satellite Supplies', 'Linen Supply', 'Emergency Relief',
       'Wellness Center', 'Food Distribution', 'Real Estate',
       'Medical Equipment', 'Portfolio Management', 'Construction',
       'Real Estate Manager and Developer', 'Coffee Shop',
       'Meat Wholesaler', 'Car Dealership', 'Sanitation', 'Consulting',
       'Animal Wellness and Care', 'Data Analytics Service Provider',
       'Carpet Cleaning Service', 'Integrated Media Entertainment',
       'Ticket Sales', 'Software', 'Ambulatory Surgery Center',
       'Catering Staffing', 'Hospitality', 'Audio, Visual and Lighting',
       'Denim Retailer', 'Watch Manufacturing', 'Airport Retail',
       'Party Rental', 'Childhood Center', 'Airline Security',
       'Award Manufacturer', 'Automobile Sales',
       'Logistics and Supply Chain Solutions', 'Mattress Store',
       'Winter Sports Center', 'Motor Vehicle Sales', 'Furniture Store',
       'Physcial Therapist', 'Human Services Agency', 'Telemarketing',
       'Debt Collection', 'Healthcare',
       'Waste disposal and removal services', 'Jewelry Store',
       'Perfume Manufacturing', '-----', 'Advertising', 'Hair Salon',
       'Leading global IT services company', 'Amusement Machine Supplier',
       'Resort', 'Fragrance Manufacturing', 'Airline Sales',
       'Catering/Event Venue', 'Daycare', 'Clothing Manufacturing',
       'Creamery', 'Salon', 'Venue', 'Airport Support', 'Education',
       'Interior designer', 'Performing Arts Theater',
       'Photographic equipment and Supplies', 'Health group practice',
       'Production  Company', 'Catering business',
       'Providing temporary and long-term housing accommodations for relocated individuals and corporate officials',
       'Manages the production and distribution for Gannett’s domestic daily newspapers',
       'Pharmaceuticals (production)', 'Manufacturer of capacitors',
       'A 675-megawatt coal-fired power plant',
       'A global defense technology leader', 'Acute Care Hospital',
       'Produces  and distributes numerous brands of bottled water across North America.',
       'Parking facility servicing the LaGuardia Airport',
       'Programs for persons with development disabilities.',
       'Wholesale grocer',
       'Members-only personal shopping and concierge service',
       'Developing private incubated brands across multiple categories of Health, Beauty, & Wellness, Fashion, and Home furnishing products.',
       'Retail Corporate offices', 'Banking  Services',
       'Wholesale distributor of Janitorial and Industrial Supplies',
       'Providing investment management and research services',
       'Retail  and auto store', 'Retail store', 'Daily newspaper',
       'Leading  healthcare improvement company',
       'New York City-based online monthly subscription service that sends its subscribers a box of four to five selected samples of makeup, or other beauty related products..',
       'Clinical Services', 'General Medical & Surgical Hospital',
       'Health and fitness center',
       'Human services non-profit organization with programs that help a large needy population in the New York metropolitan area.',
       'Manufacturer of air & gas compressors',
       'American premium channel owned by the Home Box Office, Inc.',
       'Non-profit organization', 'Publishing company', 'LawFirm',
       'Hobby, Toy, and Game Stores',
       'Welding and Soldering Equipment Manufacturing',
       'Operates online content and retail properties', 'Nursing Home'],
      dtype=object)

In [162]:
df['business_type'].value_counts().reset_index()

                                                index  business_type
0                                          Restaurant            497
1                                               Hotel            144
2                                              Retail             39
3                                     Auto Dealership             24
4                                            Catering             16
..                                                ...            ...
353                              Portfolio Management              1
354                                Medical Laboratory              1
355                            Cosmetic Manufacturing              1
356  Parking facility servicing the LaGuardia Airport              1
357                                     Travel Center              1

[358 rows x 2 columns]

In [163]:
# Group all restaurant business type
df.loc[df['business_type'].isin(['Seafood Restaurant',
                         'Outdoor Lounge/Restaurant',
                         'Airport Restaurant',
                         'Modern Japanese restaurant',
                         'Hotel and Restaurant',
                         'French Restaurant',
                         'Restaurant'        
                                 ]), 'business_type'] = 'Restaurant' 
df['business_type'].value_counts().reset_index()

                                                index  business_type
0                                          Restaurant            497
1                                               Hotel            144
2                                              Retail             39
3                                     Auto Dealership             24
4                                            Catering             16
..                                                ...            ...
353                              Portfolio Management              1
354                                Medical Laboratory              1
355                            Cosmetic Manufacturing              1
356  Parking facility servicing the LaGuardia Airport              1
357                                     Travel Center              1

[358 rows x 2 columns]

In [164]:
# 1 pulling all type resturant  
p_rest=df[df['business_type']=='Restaurant']
p_rest

,notice_date,event_number,reason,company,address,county,phone,business_type,affected,total_employees,layoff_date,dislocation,union,classification
9,5/2/2020,2019-0625,Temporary Plant Layoff,70 Pine Ops dba Crown Shy,"70 Pine Street New York, NY 10005",New York County,(212) 517-1932,Restaurant,170,0,3/16/2020,COVID-19,The employees are not represented by a union,Temporary Plant Layoff
15,3/30/2020,2019-1619,Temporary Plant Closing,BSWR Corp dba Sarabeths,"423 Amsterdam Ave. New York, NY 10124",New York County,(973) 214-7883,Restaurant,37,37,3/16/2020,COVID-19,The employees are not represented by a union,Temporary Plant Closing
16,5/4/2020,2019-1630,Temporary Plant Closing,Michael Cetta Inc. dba Sparks Steak House,"210 East 46th Street New York, NY 10017",New York County,(212) 687-4806,Restaurant,71,71,3/28/2020,COVID-19,The employees are not represented by a union,Temporary Plant Closing
23,3/27/2020,2019-0387,Plant Closing,"Hakkasan Holdings, LLC, d/b/a Hakkasan Group","311 W 43rd Street New York, NY 10036",New Yok County,(702) 212-8804 Ext,Restaurant,95,95,3/13/2020,COVID-19,The employees are not represented by a union,Plant Closing
26,3/30/2020,2019-1617,Temporary Plant Closing,Jane LLC dba Jane,"100 West Houston Street New York, NY 10012",New York County,(973) 214-7883,Restaurant,53,53,3/16/2020,COVID-19,The employees are not represented by a union,Temporary Plant Closing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1198,3/17/2020,2019-0390,Temporary Plant Closing,Manhasset Restaurant LLC d/b/a Toku Modern Asian,"2014 C Northern Blvd. Manhasset, NY 11548",Suffolk County,(516) 627- 0021,Restaurant,89,89,3/17/2020,COVID-19,The employees are not represented by a union,Temporary Plant Closing
1200,3/17/2020,2019-0398,Temporary Plant Closing,100 Hospitality LLC,"100 Walt Whitman Road Huntington, NY 11746",Suffolk County,(516) 627- 0021,Restaurant,68,0,3/17/2020,COVID-19,The employees are not represented by a union,Temporary Plant Closing
1203,3/17/2020,2019-0397,Temporary Plant Layoff,East Meadow Restaurant Corp.,"284 East Meadow Avenue East Meadow, NY 11554",Nassau County,(516) 627- 0021,Restaurant,30,0,3/17/2020,COVID-19,The employees are not represented by a union,Temporary Plant Layoff
1204,3/5/2020,2019-0343,Plant Closing,"Modell's II, Inc.",(Modell's Sporting Goods) Support Center 498 ...,New York County,(212) 822-1002,Restaurant,30,0,3/17/2020,COVID-19,"Local 1102 Retail, Wholesale and Department ...",Plant Closing
1257,12/30/2019,2019-0205,Plant Closing,"127 W. 43rd St. Chophouse, Inc. (Heartland Bre...","127 West 43rd Street New York, NY 10018",New York County,(917) 999-6532,Restaurant,106,106,The,Economic,The employees are not represented by a union,Plant Closing

In [165]:
# check how many affected for business type
p_rest['affected'].sum()

42153

In [166]:
# check overall employees to be sure numbers add up correctly noticed affected was higher, checked and saw some rows did not enter total employees
p_rest['total_employees'].sum()

23013

#Loop attempt
if p_rest['affected']<p_rest['total_employees']:
    # 2 pulling percentage of affected based on total employeed in retaurant industry 
    (p_rest['affected'].sum())/(p_rest['total_employees'].sum())*100

In [167]:

    # Realized some entires did not input total employees so created data frame that only looked at rows which number of employees was greater than affected in order to remove rows that have errors in total employees
    condition_rest=p_rest.query('affected < total_employees')
    (condition_rest['affected'].sum())/(condition_rest['total_employees'].sum())*100

12.973960712654181

In [168]:
# Looked at only New York County 
p_rest_NYC=p_rest[p_rest['county']=='New York County']
p_rest_NYC

,notice_date,event_number,reason,company,address,county,phone,business_type,affected,total_employees,layoff_date,dislocation,union,classification
9,5/2/2020,2019-0625,Temporary Plant Layoff,70 Pine Ops dba Crown Shy,"70 Pine Street New York, NY 10005",New York County,(212) 517-1932,Restaurant,170,0,3/16/2020,COVID-19,The employees are not represented by a union,Temporary Plant Layoff
15,3/30/2020,2019-1619,Temporary Plant Closing,BSWR Corp dba Sarabeths,"423 Amsterdam Ave. New York, NY 10124",New York County,(973) 214-7883,Restaurant,37,37,3/16/2020,COVID-19,The employees are not represented by a union,Temporary Plant Closing
16,5/4/2020,2019-1630,Temporary Plant Closing,Michael Cetta Inc. dba Sparks Steak House,"210 East 46th Street New York, NY 10017",New York County,(212) 687-4806,Restaurant,71,71,3/28/2020,COVID-19,The employees are not represented by a union,Temporary Plant Closing
26,3/30/2020,2019-1617,Temporary Plant Closing,Jane LLC dba Jane,"100 West Houston Street New York, NY 10012",New York County,(973) 214-7883,Restaurant,53,53,3/16/2020,COVID-19,The employees are not represented by a union,Temporary Plant Closing
27,3/30/2020,2019-1620,Temporary Plant Closing,New Docks LLC,"633 Third Ave. New York, NY 10017",New York County,(973) 214-7883,Restaurant,81,81,3/16/2020,COVID-19,The employees are not represented by a union,Temporary Plant Closing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1194,3/16/2020,2019-0360,Temporary Plant Closing,Great Dane OpCo LLC,"89 East 42nd Street New York, NY 10017",New York County,(732) 266-6799,Restaurant,170,170,7/31/2020,COVID-19,The employees are not represented by a union,Temporary Plant Closing
1195,3/16/2020,2019-0361,Plant Closing,Honeycrisp USA LLC,"89 East 42nd Street New York, NY 10017",New York County,(732) 266- 6799,Restaurant,4,4,-----,COVID-19,The employees are not represented by a union,Temporary Plant Closing
1197,3/14/2020,2019-0352,Temporary Plant Layoff,"Madison Park Acquisitions, LLC d/b/a Black Ba...","19 E. 26th Street New York, NY 10009",New York County,(646) 488- 0965,Restaurant,88,90,3/10/2020,COVID-19,The employees are not represented by a union,Temporary Plant Layoff
1204,3/5/2020,2019-0343,Plant Closing,"Modell's II, Inc.",(Modell's Sporting Goods) Support Center 498 ...,New York County,(212) 822-1002,Restaurant,30,0,3/17/2020,COVID-19,"Local 1102 Retail, Wholesale and Department ...",Plant Closing
1257,12/30/2019,2019-0205,Plant Closing,"127 W. 43rd St. Chophouse, Inc. (Heartland Bre...","127 West 43rd Street New York, NY 10018",New York County,(917) 999-6532,Restaurant,106,106,The,Economic,The employees are not represented by a union,Plant Closing

In [169]:
# what percentage of affected business type restaurant was in New York County 
(len(p_rest_NYC)/len(p_rest))*100

70.82494969818913

In [207]:
# Look at unique reasons for dislocation 
p_rest['dislocation'].unique()

array(['COVID-19', 'Expiration of building lease',
       'Maria Russo, Human Resources Director', 'Expiration of lease',
       'Economic'], dtype=object)

In [208]:
# Restaurants that listed COVID-19 as dislocation
p_rest.loc[p_rest['dislocation'].str.contains('COVID-19'), 'dislocation'] = 'COVID-19'
dislocation_rest = p_rest['dislocation'].value_counts().reset_index().rename(columns={'index': 'dislocation', 'dislocation': 'count'})

/Users/laila/.local/share/virtualenvs/ny-warn-scraper-uY3x77aR/lib/python3.7/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [209]:
dislocation_rest

                             dislocation  count
0                               COVID-19    493
1  Maria Russo, Human Resources Director      1
2                    Expiration of lease      1
3           Expiration of building lease      1
4                               Economic      1

In [210]:
dislocation_rest.to_csv('../output/restaurant_COVID.csv')

In [170]:
# grouped all hotel business type 
df.loc[df['business_type'].isin(['Hotel & Spa',
                         'Hotel',
                         'Resort Hotel',
                         'Hotel and Restaurant'
                               
                                 ]), 'business_type'] = 'Hotel' 
Hotel_table=df['business_type'].value_counts().reset_index()

In [171]:
Hotel_table.head(10)

                   index  business_type
0             Restaurant            497
1                  Hotel            144
2                 Retail             39
3        Auto Dealership             24
4               Catering             16
5         Transportation             15
6  Retail clothing store             10
7      Building Services             10
8               Eye Care             10
9                 Realty              7

In [172]:
# 1 pulling all type resturant  
p_Hotel=df[df['business_type']=='Hotel']
p_Hotel

,notice_date,event_number,reason,company,address,county,phone,business_type,affected,total_employees,layoff_date,dislocation,union,classification
2,5/8/2020,2019-1639,Temporary Plant Closing,Sankara NY LLC dba Castle Hotel and Spa,"400 Benedict Avenue Tarrytwon, NY 10591",Westchester County,(914) 646-3945,Hotel,84,84,3/17/2020,COVID-19,The employees are not represented by a union,Temporary Plant Closing
22,5/7/2020,2019-1634,Temporary Plant Closing,Crowne Plaza Times Square Hotel,"1605 Broadway New York, NY 10019",New York County,(212) 315-6100,Hotel,396,396,The,COVID-19,"New York Hotel & Motel Trades Council, AFL-CIO...",Temporary Plant Closing
40,5/4/2020,2019-1606,Temporary Plant Closing,"Hartz Hotel Services, Inc. (manager of The Rox...","2 Avenue of the Americas New York, NY 10013",New York County,(201) 272-5800,Hotel,79,79,5/15/2020,COVID-19,The employees are not represented by a union,Temporary Plant Closing
53,5/5/2020,2019-1625,Plang Closing,"Marriott Hotel Services, Inc. dba New York Mar...","525 Lexington Avenue New York, NY 10017",New York County,(908) 482-1075,Hotel,316,316,Separations,COVID-19,"New York Hotel & Motel Trades Council, AFL-CIO",Plant Closing
58,5/4/2020,2019-1605,Temporary Plant Closing,"Hartz Hotel Services, Inc. (manager of the Soh...","310 W. Broadway New York, NY 10013",New York County,(201) 272-5800,Hotel,109,109,5/15/2020,COVID-19,The employees are not represented by a union,Temporary Plant Closing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1148,3/17/2020,2019-0503,Temporary Plant Layoff,"GG TWA, LLC - Sunken Lounge, Connie, & The Pool","TWA Hotel, JFK International Airport Jamaica, ...",Queens County,(212) 750-6361 Ext,Hotel,73,0,3/16/2020,COVID-19,The employees are not represented by a union,Temporary Plant Layoff
1149,3/19/2020,2019-0506,Temporary Plant Layoff,The Holiday Inn Saratoga Springs (JLK Global F...,"232 Broadway Saratoga Springs, NY 12866",Saratoga County,(518) 845-4550 Ext,Hotel,62,0,3/16/2020,COVID-19,The employees are not represented by a union,Temporary Plant Layoff
1150,3/16/2020,2019-0515,Temporary Plant Layoff,"Uniquest Hospitality, LLC (Embassy Suites)","200 Delaware Ave Buffalo, NY 14202",Erie County,(716) 834-5000,Hotel,22,0,3/16/2020,COVID-19,The employees are not represented by a union,Temporary Plant Layoff
1158,3/19/2020,2019-0510,Temporary Plant Layoff,Mercer 1 LLC dba The Mercer Hotel,"147 Mercer St. New York, NY 10012",New York County,(212) 965-3800,Hotel,33,0,3/19/2020,COVID-19,The employees are not represented by a union,Temporary Plant Layoff
1176,3/23/2020,2019-0455,Temporary Plant Layoff,Bondib Hotel dba The Poughkeepsie Grand Hotel,"40 Civic Center Plaza Poughkeepsie, NY 12601",Dutchess County,(845) 420-7107,Hotel,102,0,3/20/2020,COVID-19,The employees are not represented by a union,Temporary Layoff

In [173]:
# Looked at overall numbers to be sure they match up to total employees or are less than 
p_Hotel['affected'].sum()

16617

In [174]:
# noticed this was lower than affected checked table saw some rows did not have total employees entered
p_Hotel['total_employees'].sum()

7649

In [175]:
# 4 created data frame that only looked at rows which number of employees was greater than affected in order to remove rows that have errors in total employees
condition_Hotel=p_Hotel.query('affected < total_employees')
(condition_Hotel['affected'].sum())/(condition_Hotel['total_employees'].sum())*100

66.3895486935867

In [176]:
# Looked at New York County totals
p_Hotel_NYC=p_Hotel[p_Hotel['county']=='New York County']

In [177]:
p_Hotel_NYC

,notice_date,event_number,reason,company,address,county,phone,business_type,affected,total_employees,layoff_date,dislocation,union,classification
22,5/7/2020,2019-1634,Temporary Plant Closing,Crowne Plaza Times Square Hotel,"1605 Broadway New York, NY 10019",New York County,(212) 315-6100,Hotel,396,396,The,COVID-19,"New York Hotel & Motel Trades Council, AFL-CIO...",Temporary Plant Closing
40,5/4/2020,2019-1606,Temporary Plant Closing,"Hartz Hotel Services, Inc. (manager of The Rox...","2 Avenue of the Americas New York, NY 10013",New York County,(201) 272-5800,Hotel,79,79,5/15/2020,COVID-19,The employees are not represented by a union,Temporary Plant Closing
53,5/5/2020,2019-1625,Plang Closing,"Marriott Hotel Services, Inc. dba New York Mar...","525 Lexington Avenue New York, NY 10017",New York County,(908) 482-1075,Hotel,316,316,Separations,COVID-19,"New York Hotel & Motel Trades Council, AFL-CIO",Plant Closing
58,5/4/2020,2019-1605,Temporary Plant Closing,"Hartz Hotel Services, Inc. (manager of the Soh...","310 W. Broadway New York, NY 10013",New York County,(201) 272-5800,Hotel,109,109,5/15/2020,COVID-19,The employees are not represented by a union,Temporary Plant Closing
84,4/22/2020,2019-1571,Temporary Plant Layoff,"Crescent Hotels & Resorts, LLC dba Hyatt Heral...","30 West 31st Street New York, NY 10018",New York County,(703) 279-7820,Hotel,21,0,3/14/2020,COVID-19,The employees are not represented by a union,Temporary Plant Layoff
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1111,3/18/2020,2019-0448,Temporary Plant Layoff,"Fifty Second Street Hotel Associates, LLC dba ...","226 West 52nd Street New York, NY 10019",New York County,(646) 459-5866,Hotel,145,0,3/15/2020,COVID-19,New York Hotel Trades Council,Temporary Plant Layoff
1112,3/19/2020,2019-0438,Temporary Plant Layoff,"HI 57, LLC dba The Watson Hotel","440 West 57th Street New York, NY 10019",New York County,(212) 634-4321,Hotel,138,0,3/18/2020,COVID-19,The employees are not represented by a union,Temporary Plant Layoff
1135,3/15/2020,2019-0531,Temporary Plant Layoff,"NoMad Hotels, LLC","1170 Broadway New York, NY",New York County,(212) 796-1500,Hotel,39,0,3/16/2020,COVID-19,The employees are not represented by a union,Temporary Plant Layoff
1138,3/19/2020,2019-0545,Temporary Plant Closing,Citusa Park Ave LLC dba IBEROSTAR 70 Park Avenue,"70 Park Avenue New York, NY 10016",New York County,(212) 973-2466,Hotel,59,59,3/29/2020,COVID-19,"New York Hotel & Motel Trades Council, AFL-CIO",Temporary Plant Closing
1158,3/19/2020,2019-0510,Temporary Plant Layoff,Mercer 1 LLC dba The Mercer Hotel,"147 Mercer St. New York, NY 10012",New York County,(212) 965-3800,Hotel,33,0,3/19/2020,COVID-19,The employees are not represented by a union,Temporary Plant Layoff

In [178]:
# what percentage of affected business type hotel was in New York County, 
(len(p_Hotel_NYC)/len(p_Hotel))*100

72.22222222222221

In [211]:
# Hotels that listed COVID-19 under dislocation 
p_Hotel.loc[p_Hotel['dislocation'].str.contains('COVID-19'), 'dislocation'] = 'COVID-19'
dislocation_Hotel = p_Hotel['dislocation'].value_counts().reset_index().rename(columns={'index': 'dislocation', 'dislocation': 'count'})

/Users/laila/.local/share/virtualenvs/ny-warn-scraper-uY3x77aR/lib/python3.7/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [212]:
dislocation_Hotel

       dislocation  count
0         COVID-19    142
1  Loss of funding      1
2         Economic      1

In [213]:
dislocation_Hotel.to_csv('../output/hotel COVID.csv')

In [179]:
# grouped transportation in one category 
df.loc[df['business_type'].isin(['Transportation',
                         'Transportation Carrier',
                         'Transportation and Logistics',
                         'Transportation Company',
                         'Paratransit transportation throughout the 5 boroughs of New York City.',
                         'Transportation Services',
                         'Trucking company providing freight transportation services and hauling cargo'        
                                 
                               
                                 ]), 'business_type'] = 'Transportation' 
Transport_table=df['business_type'].value_counts().reset_index()

In [180]:
df['business_type'].value_counts()

Restaurant                                          497
Hotel                                               144
Retail                                               39
Auto Dealership                                      24
Catering                                             16
                                                   ...
Portfolio Management                                  1
Medical Laboratory                                    1
Cosmetic Manufacturing                                1
Parking facility servicing the LaGuardia Airport      1
Travel Center                                         1
Name: business_type, Length: 358, dtype: int64

In [181]:
Transport_table

                                                index  business_type
0                                          Restaurant            497
1                                               Hotel            144
2                                              Retail             39
3                                     Auto Dealership             24
4                                            Catering             16
..                                                ...            ...
353                              Portfolio Management              1
354                                Medical Laboratory              1
355                            Cosmetic Manufacturing              1
356  Parking facility servicing the LaGuardia Airport              1
357                                     Travel Center              1

[358 rows x 2 columns]

In [182]:
Transport_table.head(10)

                   index  business_type
0             Restaurant            497
1                  Hotel            144
2                 Retail             39
3        Auto Dealership             24
4               Catering             16
5         Transportation             15
6  Retail clothing store             10
7      Building Services             10
8               Eye Care             10
9                 Realty              7

In [205]:
# output csv for pie chart
Transport_table.to_csv('../output/business_pie_chart.csv')

In [183]:
# 1 pulling all type Transportation
p_Transport=df[df['business_type']=='Transportation']

In [184]:
p_Transport['affected'].sum()

3859

In [185]:
p_Transport['total_employees'].sum()

2171

In [186]:
# 4 created data frame that only looked at rows which number of employees was greater than affected in order to remove rows that have errors in total employees
condition_Transport=p_Transport.query('affected < total_employees')
Transport_final=(condition_Transport['affected'].sum())/(condition_Transport['total_employees'].sum())*100
Transport_final

/Users/laila/.local/share/virtualenvs/ny-warn-scraper-uY3x77aR/lib/python3.7/site-packages/ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in long_scalars
  This is separate from the ipykernel package so we can avoid doing imports until

nan

In [187]:
# I was unable to acheive a correct output for affected percentage for Transportation because the majority of total_employees inputed ws incorrect for this category. 
p_Transport

,notice_date,event_number,reason,company,address,county,phone,business_type,affected,total_employees,layoff_date,dislocation,union,classification
17,4/28/2020,2019-1629,Temporary Plant Layoff,"Suffolk Transportation Service, Inc.","10 Moffitt Boulevard Bay Shore, NY 11706",Suffolk County,(631) 665-3245 Ext,Transportation,1191,0,First,COVID-19,"Local 252, Transport Workers Union",Temporary Plant Layoff
62,4/30/2020,2019-1587,Temporary Plant Layoff,"All County Bus, LLC","70 Fernbrook St. Yonkers, NY 10705",Westchester County,(914) 963-9600 Ext,Transportation,407,407,3/16/2020,COVID-19,"Local 811 Warehouse, Production, Sales and All...",Temporary Plant Layoff
80,4/29/2020,2019-1565,Temporary Plant Layoff,"Lyft, Inc.","441 9th Avenue, Floor 2 New York, NY 10001",New York County,(415) 504-2812,Transportation,53,0,5/8/2020,COVID-19,The employees are not represented by a union,Temporary Plant Layoff
100,4/28/2020,2019-1537 and 2019-1579,Plant Closing,Brookset Bus Corp.,(Nine Brookset Bus Corp. locations in Long Isl...,Nassau/Suffolk County,(631) 471-4600,Transportation,132,132,March,COVID-19,Teamsters Local 1205; United Service Workers U...,Plant Closing
101,4/28/2020,2019-1535 and 2019-1578,Plant Closing,"Baumann & Sons Buses, Inc.","(Six Baumann & Sons Buses, Inc. locations in L...",Suffolk County,(631) 471-4600,Transportation,209,209,March,COVID-19,"Teamsters Local 1205, United Service Workers U...",Plant Closing
102,4/28/2020,2019-1534 and 2019-1577,Plant Closing,Acme Bus Corp.,(Seven Acme Bus Corp. loctions in Long Island ...,Suffolk County,(631) 471-4600,Transportation,814,814,March,COVID-19,Teamsters Local 1205,Plant Closing
103,4/28/2020,2019-1536,Plant Closing,"Bauman Bus Company, Inc.","107 Lawson Boulevard Oceanside, NY 11572",Nassau County,(631) 471-4600,Transportation,222,222,March,COVID-19,Transport Workers Union Local 252,Plant Closing
126,4/23/2020,2019-1524,Plant Closing,"John R. Mott, Inc.","11 Access Road Albany, NY 12205",Albany County,(518) 452-0164,Transportation,68,0,6/30/2020,COVID-19,The employees are not represented by a union,Plant Closing
217,4/20/2020,2019-1444,Temporary Plant Layoff,American Steamship Company,"500 Essjay Road Williamsville, NY 14221",Erie County,(716) 635-1353,Transportation,185,0,4/20/2020,COVID-19,The employees are not represented by a union,Temporary Plant Layoff
391,4/3/2020,2019-1287,Temporary Plant Layoff,Keith Titus Corporation,"2758 Trombley Road Weedsport, NY 13166",Cayuga County,(315) 294-1646,Transportation,58,0,3/20/2020,COVID-19,The employees are not represented by a union,Temporary Plant Layoff
671,3/30/2020,2019-0989,Plant Layoff,"Greyhound Lines, Inc.","181 Ellicott St. Buffalo, NY 14203",Erie County,(214) 849-8605,Transportation,19,0,3/30/2020,COVID-19,ATU Local 1700,Plant Layoff
745,3/25/2020,2019-0776,Plant Layoff,"Greyhound Lines, Inc.","625 8th Avenue New York, NY 10018",New York County,(214) 849-8605,Transportation,114,0,3/25/2020,COVID-19,The employees are not represented by a union,Plant Layoff
1215,2/28/2020,2019-0309,Plant Closing,"CareRide Paratransit, LLC","63-15 Traffic Avenue Ridgewood, NY 11385",Queens County,(718) 366-3100 Ext,Transportation,221,221,May,The MTA did not renew contract which expires M...,The employees are not represented by a union,Plant Closing
1221,2/19/2020,2019-0305,Plant Closing,"Columbus Transit, LLC","711 South Columbus Avenue Mount Vernon, NY 10550",Westchester County,(914) 371-7089 Ext,Transportation,118,118,5/31/2020,Contract termination by Metropolitan Transit A...,"Local 811, Warehouse, Production, Sales and Al...",Plant Closing
1258,12/30/2019,2019-0201,Plant Closing,"New York Express and Logistics, LLC","292 Wolf Road Latham, NY 12110",Albany County,(617) 968-5311,Transportation,48,48,3/31/2020,Contract between New York Express and Logistic...,The employees are not represented by a union,Plant Closing

In [215]:
# playing with data to see the outputs 
df.groupby(by='business_type').affected.sum().sort_values(ascending=False).reset_index()

                 business_type  affected
0                   Restaurant     42153
1                        Hotel     16617
2               Transportation      3859
3                     Catering      3217
4        Retail clothing store      2696
..                         ...       ...
353        Closets and Storage         0
354                Advertising         0
355                     Museum         0
356                      Salon         0
357  Obstetrics and Gynecology         0

[358 rows x 2 columns]

Looked at New York County how many were affected in each business type

In [203]:
# business type number of affceted in New York County only 
New_York_County_df=df[df["county"]=="New York County"].groupby(by="business_type")["affected"].sum().sort_values(ascending=False)
New_York_County_df

business_type
Restaurant                                                                                                    28102
Hotel                                                                                                         12690
Catering                                                                                                       1351
Retail                                                                                                         1008
Parking Service/Locations                                                                                       883
                                                                                                              ...
American premium channel owned by the Home Box Office, Inc.                                                       2
Airline Services                                                                                                  2
Providing temporary and long-term housing accommodations for relocated individuals and corporate officials        1
Museum                                                                                                            0
Closets and Storage                                                                                               0
Name: affected, Length: 122, dtype: int64

In [216]:
New_York_County_df.to_csv('../output/ny_county_affected.csv')